.jumbotron.jumbotron-fluid {
  background-image: url(assets/css/jumbotron-picture.jpeg);
    
}

#email {

    font-display: 'Optima', sans-serif;
    size: 12px;
}

#add-email.btn-primary {
    color: whitesmoke;
    font-display: 'Optima', sans-serif; 

}

#btn.btn-primary {
    color: #2a5559;
    background-color: #2a5559;
}

.card-header {
    color: #2a5559;
    font-style: 'Optima', sans-serif;
    text-align: center;
}

.form {
    font-family: Optima, sans-serif;
    font-style: bold;

}

.btn-primary {
    color: white;
    padding: #2a5559;

}
h1 { 
    font-family: Optima, sans-serif;
    font-size: 40px;
    color: #D92B04;
    ;

}

/* CSS for etsy results */
#etsy {
  margin: 5px;
  border: 2px solid #D97904;
  transition: all .2s ease-in-out; 
}

#etsy-images {
  background-color: #2a5559
}

.etsy-body {
  background-color: #2a5559
}

.searching {
  color: #D97904;
}

#etsy:hover { 
  transform: scale(1.1); 
}

/* Slick CSS */
.portfolio-slider {
  /* margin: 60px auto; */
  /* max-width: 1200px; */
  border-top: 4px solid #D97904;
  border-bottom: 4px solid #D97904;
  /*display: flex;*/
/*   flex-flow: row wrap; */
}
.portfolio-slider {
  flex: 1 1 0;
  background-color: whitesmoke;
}

.inner {
  padding: 20px;
}

.shop {
  width: 100%;
  height: auto;
  border: 4px solid #D97904
}
.shop:hover {
  opacity: 0.9;
}

.gallery-background {
  background-color: #2a5559;
}

.other-gifts {
  color: #2a5559;
  text-align: center;
}
