.gallery-responsive {
display: none;
}

.jumbotron {
  border: 2px solid #8c0303;
  background-color: #2a5559;
  border-radius: 4px;
  padding: 20px;
  margin-top: 10px;
}

#add-email {
    color: whitesmoke;
    font-family: 'Optima', sans-serif; 
}

/* CSS for etsy results */
.save-etsy {
  margin: 5px;
  border: 2px solid #d99982;
  border-radius: 3px;
  transition: all .2s ease-in-out; 
}

#etsy-images {
  background-color: #e8e8e8;
}

.searching {
  color: #A61103;
}

.save-etsy:hover { 
  transform: scale(1.1); 
}

/* Slick CSS */
.portfolio-slider { 
  border-top: 3px solid #d99982;
  border-bottom: 3px solid #d99982;
 
}
.portfolio-slider {
  flex: 1 1 0;
  background-color: #e8e8e8;
}

.inner {
  padding: 20px;
}

.shop-img {
  width: 100%;
  height: auto;
  border: 3px solid #2a5559;
  border-radius: 4px;
}
.shop-img:hover {
  opacity: 0.9;
}

.gift-body {
  background-color: #e8e8e8;
  font-family: 'Optima',sans-serif;
}

.other-gifts-title {
  color:#2a5559;
  text-align: center;
  font-family: 'Optima',sans-serif;
}

/* newly added */

body {
  background-image: url(../images/peppermint.jpeg);
  /* background-repeat: no-repeat; */
  background-size: 100%;
}
 
.card-header {
    color: #2a5559;
    font-family: 'Optima', sans-serif;
    text-align: center;
    font-size: 18px;
 }

 .display-4 {
    /* font-family: 'Optima', sans-serif; */
    font-family: 'Fredericka the Great', cursive;
    /* font-family: 'Permanent Marker', cursive; */
    font-size: 6rem;
    font-display: bold;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
 }
 .navbar {
    overflow: hidden;
    background-color:#2a5559;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    border-top: 2px solid #8c0303;
 }
 .navbar-brand {
   color: #e8e8e8;
   font-size: small;
   font-family: 'Optima', sans-serif;
 }

.gif-img {
  height: 200px;
  width: 215px;
}

#email-error-message{
  color: white;
  font-family: 'Optima',sans-serif;
}

#modal-error-message{
  color: #8c0303;
}

p {
  color:#2a5559;
}

#logged-in-message{
  width: 100%;
  text-align: right;
  color: white;
  padding: 10px;
  font-family: 'Optima',sans-serif;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#instructions {
  color: #2a5559;
  font-style: 'Optima', sans-serif;
  text-align: center;
}

#welcome-instructions {
  margin-bottom: 35px;
}

.card {
  border: 2px solid #8c0303;
  background-color: #e8e8e8;
  color: #2a5559;
  font-family: 'Optima',sans-serif;
}

.modal{
  background-color: #e8e8e8;
  font-family: 'Optima',sans-serif;
  color: #2a5559;
}

.btn {
  background-color: #d99982;
  color: #f3f3f3;
}

#add-person-btn {
  margin-left: 50px;
}

.list-group-item {
  background-color: #cfcecc;
  color: #8c0303;
}

.list-group-item:hover {
  background-color: #d99982;
}

#other-gift-ideas {
  margin-bottom: 70px;
}
